# Configuration files
tsconfig.json
tsconfig.*.json
*.config.js
*.config.ts
tailwind.config.js
vite.config.ts
postcss.config.cjs

# Build output
dist/
build/

# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local
